{% extends 'base.html' %}
{% block title %} <title>Gkart | Login</title>{% endblock %}
{% block  content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      {% include 'includes/alerts.html' %}
      <h4 class="card-title mb-4">Sign in</h4>
      <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Email*</label>
                <input type="email" class="form-control" placeholder="Email Address" name="email" required maxlength="30">				
			</div> <!-- form-group end.// -->
            <div class="form-group">
                <label>Password*</label>
                <input type="password" class="form-control" id="id_password" placeholder="Email Address" name="password" required maxlength="30">						
			</div> <!-- form-group end.// -->
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck" onclick="showPassword()">
                <label class="form-check-label" for="autoSizingCheck">
                    Show Password
                </label>
            </div>
          <div class="form-group">
          	<a href="{% url 'password_reset' %}" class="float-right">Forgot password?</a> 
           
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <input type="submit" value="Signin" class="btn btn-primary btn-block">
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Don't have account? <a href="{% url 'signup' %}">Sign up</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}